body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;


}
.hero {
    position: relative;
}

.hero::after { /* Fået hjælp af chatgpt til hvordan gradienten kommer ovenpå billedet */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(250, 235, 215, 1) 35%, rgba(0, 0, 0, 0) 87%);
    pointer-events: none;
    z-index: 2;
}

.hero img {
    width: 100%;
    height: 797px;
    display: block;
    z-index: 1;
}

.fakta {
    background: #FAEBD7;
}

.beregner {
    background: #FAEBD7;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #fff;
}
.collection{
    height: 100vh;
    background-color: #FAEBD7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection .content{
    height: 28rem;
    width: 25rem;
    background-color: white;
    border: .2rem solid rgba(255,255,255,.1);
    border-radius: .7rem;
    overflow: hidden;
}

.content img{
    width: 100%;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-content h3{
    font-size: 1.7rem;
    font-weight: 500;
}
.text-content p{
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}
